<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOAi Chat Assistant</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head> -->
<!-- 192.168.0.28 -->
<!-- <body>
    <div id="chatbox"> --->
        <!-- Header -->
        <!-- <div id="header">
            <div class="col-4"></div>
            <div id="avatar">
                <span><img src="/static/images/avatar.png" alt="Avatar"></span>
            </div>
            <h1>i</h1>
        </div> -->

        <!-- Chat messages -->
        <!-- <div id="messages"></div> -->

        <!-- Input area -->
       <!---- <div id="input-area">
            <input id="user-input" type="text" placeholder="Type your message here...">
            <button id="send-btn">Send</button>
        </div>
    </div>
    <script src="/static/js/chat.js"></script>
</body>
</html> --> 
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="chat-container">
        <div id="header">
            <div id="avatar">
                <!-- <img src="/static/images/AILogo.jpeg" alt="AI Avatar"> -->
            </div>
            <h3>AI Assistant</h3>
        </div>
        <div id="messages"></div>
        <div id="loader"></div>
        <div id="user-input-container">
            <input type="text" id="user-input" placeholder="Type your message here..." />
            <button id="send-button">Send</button>
            
        </div>
         <!-- Footer -->
    <!-- <footer id="footer">
        Created by Jaypal
    </footer> -->
    </div>
    <script src="/static/js/chat.js"></script>
</body>
</html>
